.custom-bg {
  background-image: url("/pangalanes2.jpg"), url("/pangalanes1.webp"), url("/bateau.webp");
  background-position: left center, center center, right center;
  background-repeat: no-repeat;
  background-size: 33.33% 100%, 33.33% 100%, 33.33% 100%;
}